# Python
__pycache__/
*.py[cod]
*.pyo
.venv/
venv/
.env
*.egg-info/
dist/
build/
.pytest_cache/
.mypy_cache/
.ruff_cache/

# Node.js
node_modules/
.next/
out/
npm-debug.log*
yarn-error.log*

# Docker
.docker/

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/

# Project
golden_dataset/
*.pdf
*.jpg
*.jpeg
*.png
!frontend/public/**

# gcs
gcs-key.json

test/